
.WindowEstimator {
    background: white;
    width: 95%;
    max-width: 500px;
    padding: 10px;
    /* border-radius: 5px; */
    margin: 10px;
}

.overview,
.details,
.counter {
    padding-bottom: 10px;
    border-bottom: 1px dashed lightgray;
}

/* Header / Overview */

/* Overview */
h1 {
    font-weight: 400;
}

.overview__items {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.overview__items span {
    text-align: end; 
}

/* Details */
h3 {
    font-weight: 400;
    color: grey;
}

.details__items {
    display: flex;
    flex-direction: column;
}

.details__row {
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.interior-exterior {
    display: flex;
}

.interior-exterior__checkbox {
    margin-left: 10px;
}

.select-container {
    width: 60%;
    display: flex;
    justify-content: center;
}

.details__row select {
    font-size: 15px;
    border: none;
    outline: none;
    appearance: none;
    display: flex;
    text-align: center;
    color: rgb(65, 65, 65);
    font-weight: 500;
}


.details__price-input {
    width: 60%;
    font-size: 15px;
    border: none;
    outline: none;
    appearance: none;
    display: flex;
    text-align: center;
    color: rgb(65, 65, 65);
    font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.details label {
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(65, 65, 65);
    font-weight: 600;
}

.interior-exterior label {
    width: 50%;
    margin-right: 10px;
}






/* Counter */

.counter__items {
    display: flex;
    flex-direction: column;
}

.counter__row {
    display: flex;
    height: 30px;
    margin: 5px 0px;
}

.counter label {
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(65, 65, 65);
    font-weight: 600;
}

.counter input {
    width: 10%;
    font-size: 15px;
    border: none;
    outline: none;
    display: flex;
    text-align: center;
    color: rgb(65, 65, 65);
    font-weight: 500;
}

.counter__button-container {
    display: flex;
    justify-content: center;
    width: 25%;
}

.counter__button {
    background: white;
    border: none;
    width: 100%;
    height: 100%;
    color: rgb(47, 102, 223);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}